{% extends "app/layout.html" %}

{% block content %}
<div class="about">
		<div class="container">
			<div class="about-main">
				<div class="col-md-8 about-left">
					<div class="about-one">
						<p>Самое актуальное</p>
						<h3>Окунись в эту атмосферу!</h3>
					</div>                 
					<div class="about-two">
						<video src="/media/video1.mp4" controls="controls" width="800" height="450" /></a>
						<p>Автор: <a href="#"> admin </a> 29 мая 2020 </p>
						<p>Описание</p>
						<ul>
							<li><p>Share : </p></li>
							<li><a href="#"><span class="fb"> </span></a></li>
							<li><a href="#"><span class="twit"> </span></a></li>
							<li><a href="#"><span class="pin"> </span></a></li>
							<li><a href="#"><span class="rss"> </span></a></li>
							<li><a href="#"><span class="drbl"> </span></a></li>
						</ul>
					</div>	
                    <div class="about-two">
						<video src="/media/video2.mp4" controls="controls" width="800" height="450" /></a>
						<p>Автор: <a href="#"> admin </a> 29 мая 2020 </p>
						<p>Описание</p>
						<ul>
							<li><p>Share : </p></li>
							<li><a href="#"><span class="fb"> </span></a></li>
							<li><a href="#"><span class="twit"> </span></a></li>
							<li><a href="#"><span class="pin"> </span></a></li>
							<li><a href="#"><span class="rss"> </span></a></li>
							<li><a href="#"><span class="drbl"> </span></a></li>
						</ul>
					</div>	
				</div>
				<div class="clearfix"></div>			
			</div>		
		</div>
	</div>

{% endblock %}
